*
  box-sizing: border-box

::-webkit-scrollbar
  display: none

html, body
  height: 100%
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif
  user-select: none
  background: #f6f6f6
  -webkit-tap-highlight-color: transparent

h1, h2, h3, h4, h5, h6, p, ul
  margin: 0
  font-weight: 400

ul
  padding: 0
  list-style-type: none

img
  vertical-align: top

input
  padding: 0
  -webkit-appearance: none

a
  text-decoration: none

.flex
  display: flex

.flex_vertical
  flex-direction: column

.flex_middle
  align-items: center

.flex_center
  justify-content: center

.flex__item
  flex: 1
