.el-rate
  .el-rate__item
    .el-rate__icon
      font-size: 16px

@media (max-width: 1200px)
  .el-rate
    .el-rate__item
      .el-rate__icon
        font-size: 14px

@media (max-width: 768px)
  .el-rate
    .el-rate__item
      .el-rate__icon
        font-size: 12px
